pipeline/M5_Incorrect_PL_DATA_ADLS_ASQL_populate_tables_with_cycle.json
{
	"name": "M5_Incorrect_PL_DATA_ADLS_ASQL_populate_tables_with_cycle",
	"properties": {
		"activities": [
			{
				"name": "ACT_Get_Credits_File_Name",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"file_name": "credits*.csv"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ACT_Copy_Each_Credits_File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_Get_Credits_File_Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_Get_Credits_File_Name').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ACT_Copy_credits",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "pipelineId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "source_filename",
											"value": {
												"value": "@item().Name",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "IF EXISTS (SELECT * FROM dbo.sysobjects WHERE ID = OBJECT_ID(N'[stg].[credits]'))\nTRUNCATE TABLE [stg].[credits]",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@item().Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ASQL_credits",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "ACT_Get_Movies_File_Name",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"file_name": "movies_metadata*.csv"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ACT_Copy_Each_Movies_File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_Exec_Truncate_movies_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_Get_Movies_File_Name').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ACT_Copy_movies_metadata",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "pipelineId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "source_filename",
											"value": {
												"value": "@item().Name",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@item().Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ASQL_movies",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "ACT_Exec_Truncate_movies_metadata",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_Get_Movies_File_Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[stg].[Truncate_movies_metadata]"
				},
				"linkedServiceName": {
					"referenceName": "azure_mentoring_azuresqlserver_nb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_Get_Ratings_File_Names",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"file_name": "ratings*.csv"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ACT_Truncate_ratings_table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_Get_Ratings_File_Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "IF EXISTS (SELECT * FROM dbo.sysobjects WHERE ID = OBJECT_ID(N'[stg].[ratings]'))\nTRUNCATE TABLE [stg].[ratings]\nSELECT 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_ratings",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ACT_Copy_Each_Ratings_File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_Truncate_ratings_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_Get_Ratings_File_Names').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ACT_Copy_ratings",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "pipelineId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "source_filename",
											"value": {
												"value": "@item().Name",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@item().Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ASQL_ratings",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "ACT_Exec_spPopulatetRatings",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_Copy_Each_Ratings_File",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ACT_Exec_spPopulateMovies",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulatetRatings]"
				},
				"linkedServiceName": {
					"referenceName": "azure_mentoring_azuresqlserver_nb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_Exec_spPopulateMoviesCastMap",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_Exec_spPopulateCast",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ACT_Exec_spPopulateMovies",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateMoviesCastMap]"
				},
				"linkedServiceName": {
					"referenceName": "azure_mentoring_azuresqlserver_nb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_Exec_spPopulateCompany",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_Copy_Each_Movies_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateCompany]"
				},
				"linkedServiceName": {
					"referenceName": "azure_mentoring_azuresqlserver_nb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_Exec_spPopulateMovieStatus",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_Copy_Each_Movies_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateMovieStatus]"
				},
				"linkedServiceName": {
					"referenceName": "azure_mentoring_azuresqlserver_nb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_Exec_spPopulateGenre",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_Copy_Each_Movies_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateGenre]"
				},
				"linkedServiceName": {
					"referenceName": "azure_mentoring_azuresqlserver_nb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_Exec_spPopulateMovies",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_Exec_spPopulateMovieStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateMovies]"
				},
				"linkedServiceName": {
					"referenceName": "azure_mentoring_azuresqlserver_nb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_Exec_spPopulateMoviesCompanyMap",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_Exec_spPopulateMovies",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ACT_Exec_spPopulateCompany",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateMoviesCompanyMap]"
				},
				"linkedServiceName": {
					"referenceName": "azure_mentoring_azuresqlserver_nb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_Exec_spPopulateMoviesGenreMap",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_Exec_spPopulateMovies",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ACT_Exec_spPopulateGenre",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateMoviesGenreMap]"
				},
				"linkedServiceName": {
					"referenceName": "azure_mentoring_azuresqlserver_nb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_Exec_spPopulateCast",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_Copy_Each_Credits_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateCast]"
				},
				"linkedServiceName": {
					"referenceName": "azure_mentoring_azuresqlserver_nb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-28T12:03:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}